<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Travel Buddy App</title>
        <meta description='Main Login and Register Page for Travel Buddy App'>
        <meta charset='utf-8'/>
    </head>
    <body>
        <div id='wrapper'>
            <h3>Register for Travel Buddy.</h3>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/register" id="registerform" method="post">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input type="text" name="name"><br><br>
                <label for="username">Username:</label>
                <input type="text" name="username"><br><br>
                <label for="userpassword">Password:</label>
                <input type="password" name="userpassword"><br><br>
                <label for="cpassword">Confirm Password:</label>
                <input type="password" name="cpassword"><br>
                <p><font size='2'><i>*Password should be at least 8 characters</i></font></p>
                <input type="submit" name="registerbutton" value="Register">
            </form> 
            <h3>Login</h3>
            <form action="/login" id="loginform" method="post">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" name="username"><br><br>
                <label for="userpassword">Password:</label>
                <input type="password" name="userpassword"><br><br>
                <input type="submit" name="registerbutton" value="Login">
            </form> 
            <h3>Already Logged In?:</h3>
            <form action="{% url 'travels:index' %}">
                <button>Go to Travels Page</button>
            </form>         
        </div>
    </body>
</html>