<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Main Page</title>
    <meta description='Main Page for LoginReg App'>
    <meta charset='utf-8'/>
</head>
<body>
    <div id='wrapper'>
        <h2> Welcome to the Travels App, {{ request.session.name }}... </h2>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id=yourtripschedules>
            <h3>Your trip schedules</h3>
            {% if mytrips %}
            <table id="yourtriptable">
                <tr> 
                    <th>Destination</th>
                    <th>Travel Start Date</th>
                    <th>Travel End Date</th>
                    <th>Plan</th>
                </tr>
                {% for each in mytrips %}
                <tr>                    
                    <td>{{ each.name }}</td>
                    <td>{{ each.traveldatefrom }}</td>
                    <td>{{ each.traveldateto }}</td>
                    <td>{{ each.description }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>No Data</p>
            {% endif %}
        </div>
        <div id="otherstripschedules">
            <h3>Others trip schedules</h3>
            {% if otherstrips %}
                <table id="yourtriptable">
                    <tr> 
                        <th>Destination</th>
                        <th>Travel Start Date</th>
                        <th>Travel End Date</th>
                        <th>Plan</th>
                    </tr>
                    {% for each in otherstrips %}
                    <tr>                    
                        <td>{{ each.name }}</td>
                        <td>{{ each.traveldatefrom }}</td>
                        <td>{{ each.traveldateto }}</td>
                        <td>{{ each.description }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <p>No Data</p>
                </table>
            {% endif %}
        </div>
        <form action="{% url 'travels:addplan' %}" method="GET">
            <button>Add Travel Plan</button>
        </form><br>
        <form action="{% url 'auth:logout' %}" method="GET">
            <button>Logout</button>
        </form>
    </div>
</body>
</html>